# It is EXTREMELY HIGHLY RECOMMENDED to install it in editable mode (-e)
# `pip install -e .` instead of `pip install .`

[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"